* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

body {
    margin-top : 50px;
    margin-bottom : 50px;
    background-image: url(img/fond_trame.png);
    background-color: #FFF5E9;
}

nav{

    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-weight: lighter;
    font-style: italic;
}

nav ul a {
    padding:  5px 15px 5px 15px ;
    width: 90px;
    list-style: none;
    text-decoration: none;
    color: #3AAA35;
    border: solid 1px #3AAA35;
    border-radius: 7px;
    text-align: center;
    position: sticky;
    background-color: rgb(255, 255, 255);
}

.btn_ret{
    border: 0;
    background: none;
}
.btn_ret:hover{
    background: none;
    border: 0;
}

nav ul a:hover {
    background-color: #3AAA35;
    color: white;
}
nav .green_line{
    width: 70%;
    margin: auto;
    height: 2px;
    background-color: #3AAA35;
    margin-top: -100px;
    margin-bottom: 80px;
}

.menu_resp {
    display: none;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 30px;
    width: 80%;
    background-color: #008d367a;
    margin-bottom:  50px;
}

.Titreadmin {
    color: #FFF5E9;
    font-weight: bolder;
    font-size: 20px;
    margin: 25px 0px 25px 0px;
}

.contenuentier {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 20px;
}

.titrearticle {
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: #3AAA35;
}

.titrearticle h1 {
    margin: 15px 0px 15px 0px;
}

.imagearticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 40px 0px 40px;
    width: 25%;
    border: 1px solid #008D36;
    border-radius: 10px;
}

img {
    width: 80%;
    padding-top: 40px;
    padding-bottom: 28px ;
}

.Contenuarticle {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0px 0px 30px 0px
}

.Contenuarticle h1 {
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 20px;
}

.Contenuarticle p {
    padding : 10px;
    border: 1px solid #008D36;
    border-radius: 10px;
    margin: 5px 10px 5px 5px
}

.milieuarticle {
    display: flex;
    flex-direction: row ;
    align-items: center;
}

button{
    display: flex;
    color: #008D36;
    background-color: transparent;
    padding:15px 60px;
    border: 1px solid #3AAA35;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.formulabo {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 20px;
}

.titreformule {
    display: flex;
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: #3AAA35;
}

.titreformule h1 {
    display: flex;
    margin: 15px 0px 15px 0px;
}

.soustitreformu {
    display: flex;
    margin-left:105px;
    font-size: 12px;
}

.nomformule {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.nomformule h1 {
    display: flex;
    margin: 10px;
}

.nomformule p {
    padding : 10px 40px ;
    border: 1px solid #3AAA35;
    border-radius: 5px;
}

.prixformule {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.prixformule h1 {
    display: flex;
    margin: 10px;

}
.prixformule p {
    padding : 10px 70px ;
    border: 1px solid #3AAA35;
    border-radius: 5px;
}

.formuabo {
    margin: auto;
    width: 70%;
    margin-bottom: 20px;
}

.formuabo h1 {
    margin: 5px;
}

.formuabo p{
    border: 1px solid #3AAA35;
    border-radius: 5px;
    padding : 30px
}

.groupformu {
    display: flex;
    justify-content: space-around;

}

.allformu {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:auto;
    border: 1px solid #3AAA35;
    border-radius: 5px;
    margin-bottom: 20px;
}


.otot{
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.76);;
    color : white;
    display: none;
    border: solid 1px #3AAA35;
    border-radius: 20%;
} 

footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #282727;
}

footer .container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: #FFF5E9;
}

.re_inscrire .btn_footer{
    text-decoration: none;
}

.re_inscrire p{
    padding-top: 20px;
}

.btn_footer{
    text-align: center;
    margin: auto;
    width: 150px;
    border: solid 1px #3AAA35;
    color: #3AAA35;
    border-radius: 5px;
}

.re_inscrire{
    display: flex;
    flex-direction: column;
}

.btn_connect{
    color: #3AAA35;
    text-decoration: underline;
}

.suivez_nous img{
    padding-top: 20px;
}


form{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, textarea{
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    border: solid 1px #3AAA35;
}

/*------------------POPUP------------------------*/
.cycliste {
    margin: auto;
    padding: 20px;

}

.pop{
    padding: 10px;
}

.wholepop form input{
    width: 80%;
    height: 25px;
    background: none;
    text-align: center;
    color: #878786;
    font-style: italic;
}

.wholepop form input:last-child{
    width: 50%;
    padding-bottom: 25px;
}

.btn_connex{
    width: 120px;
    padding: 10px;
    border-radius: 12px;
    background: none;
    border: solid 1px #3AAA35;
}
#souvenir{
    color: #878786;
}
.check{
    width: 80%;
}

#souvenir{
    text-align: left;
    width: 20px;
    height: 14px;
}


/*------------------------------------------------------------------------------*/


@media screen and (max-width:1100px) {

   

    .bloc_ligne{
        flex-direction: column;
        margin-bottom: 10px;
        padding-bottom: 0px;
    }

    .actu{
        width:90%;
        margin-bottom: 10px;
    }

    footer .green_line{
        margin: auto;
        width: 100px;
        height: 3px;
        background-color: #3AAA35;
        border-radius: 5px;
    }

    .suivez_nous{
        padding-top: 25px;
        text-align: center;
    }
}






