* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 1200px;
    background-image: url(img/house_green.jpg);
    background-size: cover;
}


nav{

    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul{
    padding: 50px 0px 0px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-weight: lighter;
    font-style: italic;
}

nav ul a {
    padding:  5px 15px 5px 15px ;
    width: 90px;
    list-style: none;
    text-decoration: none;
    color: #3AAA35;
    border: solid 1px #3AAA35;
    border-radius: 7px;
    text-align: center;
    position: sticky;
    background-color: rgb(255, 255, 255);
}

.btn_ret{
    border: 0;
    background: none;
}
.btn_ret:hover{
    background: none;
    border: 0;
}

nav ul a:hover {
    background-color: #3AAA35;
    color: white;
}
nav .green_line{
    width: 70%;
    margin: auto;
    height: 2px;
    background-color: #3AAA35;
    margin-top: -80px;
}

.menu_resp {
    display: none;
}

.Titre h1{
    margin: auto;
    display: flex;
    justify-content: center;
    color: #3AAA35;
    margin-top: 50px;
    
}

hr {
    margin: auto;
    margin-top: 20px;
    width: 10%;
    color: #3AAA35;
}

.formule {
    display: flex;
    flex-direction: column;

}

.bloc1 {
    margin: auto;
    margin-top: 40px;
    width: 80%;
    display: flex;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.288));
    padding: 50px;

}
.gras {
    font-weight: bolder;
}
.formule1 {
    width: 70%;
    background-color: #E6F4E6;
    border-radius: 30px 0px 0px 30px;
    
}

.formule1 h1 {
    position : absolute;
    width: 125px;
    margin-top: 40px;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
    background-color: #FFF5E9;
}

.formule1 p {
    padding-top: 100px ;
    padding-left: 40px;
    padding-bottom: 50px;
    line-height: 25px;
}

.choix1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 30%;
    background-color: #FFF5E9 ;
    border-radius: 0px 30px 30px 0px;
    position: relative;
}
.choix1 h1 {
    font-weight: lighter;
    font-style: italic;
}
a{
    text-decoration: none;    
}
.button1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF5E9;
    /* margin-top: 20px; */
    width: 90%;
    /* height: 33px; */
    border-radius: 10px;
    background: #389B48;
    border: 0.8px solid #3AAA35;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-style: italic;
    
}
.button1:hover{
    background-color: #389b4865;
}

.Bandeau {
    color: #FFF5E9;
    text-align: center;
    font-size: 13px;
    position: absolute;
    top : 28px;
    right: -47px;
    transform: rotate(45deg);
    height:0;
    width: 100px;
    border-bottom: 50px solid #389B48;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.Bandeau p {
    padding-top: 18px
}


.otot{
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.76);;
    color : white;
    display: none;
    border: solid 1px #3AAA35;
    border-radius: 20%;
} 


footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #282727;
}

footer .container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: #FFF5E9;
}

.re_inscrire .btn_footer{
    text-decoration: none;
}

.re_inscrire p{
    padding-top: 20px;
}

.btn_footer{
    text-align: center;
    margin: auto;
    width: 150px;
    border: solid 1px #3AAA35;
    color: #3AAA35;
    border-radius: 5px;
}

.re_inscrire{
    display: flex;
    flex-direction: column;
}

.btn_connect{
    color: #3AAA35;
    text-decoration: underline;
}

.suivez_nous img{
    padding-top: 20px;
}
.cycliste {
    margin: auto;
    padding: 20px;

}

.pop{
    padding: 10px;
}

.wholepop form input{
    width: 80%;
    height: 25px;
    background: none;
    text-align: center;
    color: #878786;
    font-style: italic;
}

.wholepop form input:last-child{
    width: 50%;
    padding-bottom: 25px;
}

.btn_connex{
    width: 120px;
    padding: 10px;
    border-radius: 12px;
    background: none;
    border: solid 1px #3AAA35;
}
#souvenir{
    color: #878786;
}
.check{
    width: 80%;
}

#souvenir{
    text-align: left;
    width: 20px;
    height: 14px;
}

form{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, textarea{
    width: 500px;
    margin: 10px;
    border-radius: 5px;
    border: solid 1px #3AAA35;
}

@media screen and (max-width:1100px) {

    /* .button1{
        height: 15%;
    } */

    .bloc_ligne{
        flex-direction: column;
        margin-bottom: 10px;
        padding-bottom: 0px;
    }

    .actu{
        width:90%;
        margin-bottom: 10px;
    }

    footer .green_line{
        margin: auto;
        width: 100px;
        height: 3px;
        background-color: #3AAA35;
        border-radius: 5px;
    }

    .suivez_nous{
        padding-top: 25px;
        text-align: center;
    }
}
