* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(img/fond_trame.png);
    background-color: #FFF5E9;
}

nav{

    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul{
    padding: 50px 0px 0px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-weight: lighter;
    font-style: italic;
}

nav ul a {
    padding:  5px 15px 5px 15px ;
    width: 90px;
    list-style: none;
    text-decoration: none;
    color: #3AAA35;
    border: solid 1px #3AAA35;
    border-radius: 7px;
    text-align: center;
    position: sticky;
    background-color: rgb(255, 255, 255);
}

.btn_ret{
    border: 0;
    background: none;
}
.btn_ret:hover{
    background: none;
    border: 0;
}

nav ul a:hover {
    background-color: #3AAA35;
    color: white;
}
nav .green_line{
    width: 70%;
    margin: auto;
    height: 2px;
    background-color: #3AAA35;
    margin-top: -80px;
}

.menu_resp {
    display: none;
}

img{
    border-radius: 30px 30px 0px 0px;
}

h1{
    font-style: italic;
    font-weight:lighter;
}


.Titreactu h1 {
    margin: auto;
    display: flex;
    justify-content: center;
    color: #3AAA35;
    margin-top: 50px;
}

hr {
    height: 3px;
    margin: auto;
    margin-top: 0px;
    width: 10%;
    background-color: #3AAA35;
    border-style: none;
    margin-bottom: 40px;
    border-radius: 10px;
}
.actualite {
    display: flex;
    flex-direction: column;

}

.actu{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    background: #E6F4E6;
    border: 1px solid #008D36;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.actu h1 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 20px;
}

.actu p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: lighter;
    font-size: 12px;
    padding: 20px 10px;
}

.bloc_ligne{
    display: flex;
    padding-bottom: 50px;
}
.otot{
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.76);;
    color : white;
    display: none;
    border: solid 1px #3AAA35;
    border-radius: 20%;
} 


footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #282727;
}

footer .container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: #FFF5E9;
}

.re_inscrire .btn_footer{
    text-decoration: none;
}

.re_inscrire p{
    padding-top: 20px;
}

.btn_footer{
    text-align: center;
    margin: auto;
    width: 150px;
    border: solid 1px #3AAA35;
    color: #3AAA35;
    border-radius: 5px;
}

.re_inscrire{
    display: flex;
    flex-direction: column;
}

.btn_connect{
    color: #3AAA35;
    text-decoration: underline;
}

.suivez_nous img{
    padding-top: 20px;
}
.cycliste {
    margin: auto;
    padding: 20px;

}

.pop{
    padding: 10px;
}

.wholepop form input{
    width: 80%;
    height: 25px;
    background: none;
    text-align: center;
    color: #878786;
    font-style: italic;
}

.wholepop form input:last-child{
    width: 50%;
    padding-bottom: 25px;
}

.btn_connex{
    width: 120px;
    padding: 10px;
    border-radius: 12px;
    background: none;
    border: solid 1px #3AAA35;
}
#souvenir{
    color: #878786;
}
.check{
    width: 80%;
}

#souvenir{
    text-align: left;
    width: 20px;
    height: 14px;
}

form{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, textarea{
    width: 500px;
    margin: 10px;
    border-radius: 5px;
    border: solid 1px #3AAA35;
}




@media screen and (max-width:1100px) {

   

    .bloc_ligne{
        flex-direction: column;
        margin-bottom: 10px;
        padding-bottom: 0px;
    }

    .actu{
        width:90%;
        margin-bottom: 10px;
    }

    footer .green_line{
        margin: auto;
        width: 100px;
        height: 3px;
        background-color: #3AAA35;
        border-radius: 5px;
    }

    .suivez_nous{
        padding-top: 25px;
        text-align: center;
    }
}
